<footer id="foot2">
    <div class="container">
        <p><strong>Examination Dates are Subject to Change<br>Developed by-<br></strong> <a href="mailto:f20180319@goa.bits-pilani.ac.in" class="mail">Sudhanshu (2018A3PS0319G)</a><br><a href="mailto:f20180332@goa.bits-pilani.ac.in" class="mail">Prashant (2018AAPS0332G)</a>
        </p>
        </hr>
    </div>
</footer>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
</html>