body.bg-1{
    display:flex; 
    flex-direction:column;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #292E49, #BBD2C5, #536976) ;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292E49,#BBD2C5, #536976) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body.bg-2{
    display:flex; 
    flex-direction:column;
    background: #556270; 
    background: -webkit-linear-gradient(to right,  #BBD2C5, #536976);
    background: linear-gradient(to right,  #BBD2C5, #536976);

}

form{
    text-align: center;
    align-self: center;
    margin: 5% auto 5% auto;
    width: 40%;
}
button{
    margin-top: 1em!important ;
}
.examspacing{
    margin: 4% auto 1% auto;
}
.cardspacing{
    margin: 1% 2% 1% 2%;
}
.space{
    margin-top: 10% !important;
}
img {
    border-radius: 50%;
    width: 170px;
    height: 200px;
}
.main-content{
    padding-top: 10%;
    padding-bottom: 10%;
}
.mainheading{
        text-align: center;
        font-weight: 400px;
        color: white;
        font-size: 93px;
        font-family: 'Pacifico', "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif, cursive;

}
footer{
    margin-top:auto;
    text-align: center;
    width: 100%;
    background:#505050;
    color:white; 
  }
 .mail{
    text-decoration: none !important;
    color: white;
  }
  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1..05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .bg-info{
      background-color: lightsteelblue !important;
  }
  .handlr {
    
  text-align: center;
  
  background: linear-gradient(to right, #6e4347 25%, #264f47 50%, #656564 75%, #6e5c7b 100%);
 background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 3s linear;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
  }

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

 
/* #foot {

    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0;
} */
@media screen and (max-width:768px){
    img.hidden {
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }
}
@media screen and (max-width:480px){
    div.ui.card{
        width: 100% !important;
        margin: 2% 2% 2% 2% !important;
        display: inline-block !important;
    }
    .cardspacing{
        margin:0em 0em 0em 0em;
    }
    form{
        width: auto;
    }
    .main-content{
        padding-top: 35%;
        padding-bottom: 10%;
    }
    .mainheading{
        font-size: 50px;
    }
}
@media screen and (min-width: 550px){

}
